.st_info_boxes {
	.st_info_boxes_inner {
		@include flex;
		.st_col {
			background-color: #fff;
			padding: var(--space-4) var(--space-3);
		}
		.ib_image {
			aspect-ratio: 4 / 3;
			margin-bottom: var(--space-4);
		}
		.st_col_title {
			font-size: var(--font-size-4);
		}
	}
}
