.posts_grid {
	@include flex-between;
	h1 {
		width: 100%;
	}
	.grid_item {
		width: 31%;

		margin-bottom: 3%;
		@include tab-only {
			width: 48%;
		}
		@include mob-only {
			width: 100%;
		}
		.gi_image {
			aspect-ratio: 16 / 9;
		}
	}
	.posts-navigation {
		width: 100%;
		.nav-links {
			@include flex-between;
		}
	}
}
