label[for="nav-toggle"] {
	opacity: 0;
	font-size: 0;
}


@include limbo-max {
	.top_bar .top_bar_inner {
		flex-direction: column;
		p {
			margin-bottom: 5px;
		}
	}
    .header-main {
        position: sticky;
        top: 0;
        background-color: #fff;
        height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-inline: 25px;
		box-sizing: border-box;
		.site-logo {
			width: 200px;
			max-width: 50%;
			margin: 0;
			display: flex;
			max-height: calc(100% - 15px);
			max-width: 30%;
		}
		img {
			height: 100%;
			object-fit: contain;
		}
		.nav_btn {
			max-width: 30%;
			.btn {
				min-width: unset;
				text-align: center;
			}
		}
		.main-navigation {
			ul {
				display: none;
			}
		}
		#primary-menu {
			position: absolute;
			width: 100%;
			height: calc(100vh - 69px);
			overflow: auto;
			background-color: #fff;
			left: 0;
			margin-top: 9px;
			padding: 25px;
			li {
				position: relative;
				a {
					padding: 1.5rem;
					color: var(--color-text);
					opacity: .75;
					font-size: 23px;
					width: 100%;
				}
				&.current-menu-item {
					a {
						opacity: 1;
					}
				}
				&.menu-item-has-children {
					> a {
						width: calc(100% - 55px);
					}
				}
				.sub-menu-trigger {
					width: 25px;
					transform: rotate(45deg);
					transition: var(--st);
				}
				> .sub-menu {
					width: 100%;
					margin-left: 10px;
					li {
						padding-block: 5px;
					}
					img {
						width: 30px;
						position: absolute;
						top: .5rem;
						left: 0;
						object-position: top;
					}
					a {
					  padding: 1rem 2rem 0 40px;
					  font-size: 20px;
					  color: var(--color-1);
					  font-weight: 600;
					  div {
						font-size: 16px;
						color: #000;
						font-weight: 400;
					  }
					}
				  }
				  &.sub-menu-open {
					.sub-menu-trigger {
					  transform: rotate(90deg);
					}
				  }
				  &.git {
					margin-top: var(--space-3);
					order: 1;
					a {
						background-color: var(--color-2);
						color: #fff;
						text-align: center;
						opacity: 1;
						border-radius: 16px;
						font-size: 18px;
						width: 90%;
						margin-inline: auto;
					}
				}
			}
			> li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
			}
		}
    }



    .nav-button {
        display: none!important;
    }

    /* Nav Trigger Start */

	.hamburger{
		height: 50px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		> div{
			position: relative;
			top: 0;
			left: 0;
			background: #000;
			height: 2px;
			width: 60%;
			transition: all  0.4s ease;
			&::before, &:after {
				content: '';
				position: absolute;
				top: -10px;
				background: #000;
				width: 100%;
				height: 2px;
				transition: all  0.4s ease;
			}
			&:after{
				top: 10px;
			}
		}
	}
	.menu-toggle {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	.menu-toggle:checked + div{
		background: rgba(0,0,0,0);
		&:before{
			top: 0;
			transform: rotate(45deg);
			background: black;
		}
		&:after{
			top: 0;
			transform: rotate(135deg);
			background: black;
		}
	}

    /* Nav Trigger End */
}
